<head th:fragment="head">
    <meta charset="utf-8">
    <title>TDB SURVEY</title>
    <meta name="description" content="Daily survey."/>

    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/uikit.almost-flat.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/components/lightbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/countup.min.js}"></script>
</head>